################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LEDLine.vcxitems.filters
/LEDLine.vcxitems
/LEDLine.sln
/examples/Girland/__vm
/examples/Girland/Girland.vcxproj.user
/examples/Girland/Girland.vcxproj.filters
/examples/Girland/Girland.vcxproj
/examples/Girland/Debug
/examples/Girland/Release
